@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color:#F6F5F5;
}
a.active  ul{
    display:block;
}

@media (max-width:640px){
    a.active ul{
        background-color: aliceblue;
    }
}