@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color:#F6F5F5;
}
a.active hr{
    display:block;
}

@media (max-width:640px){
    a.active{
        background-color: aliceblue;
    }
}